.left-section2 h2{
	padding: 20px;
	margin-left: 35px;
	color: white;
	font-weight: 900;
}
.left-section2 p{
  margin-bottom: 20px;
  line-height: 50px;
  font-weight: 900px;
  font-size: 25px;
  color: white;
}
body {
  background-size: 100% 140%;
  background-image: url(images/banner.png);
  margin:0;
  font-family: 'Poppins', sans-serif;

}
.innersection2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-section2 {
    width: 49%;
}
.flex-container {
  display: flex; 
  position: relative;
top:60%;
height:30%;
vertical-align:right;
margin-right: 2%;

} 


.flex-container .box {
  color:#00BFFF; 
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
  background-color: 330033;
}

.navigation ul {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}
.header {
    padding: 20px 0;
}
.button a{
  margin-left: 168px;
  background-color:#00000F;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.right-section2{
 
  position: relative;
top:60%;
height:30%;
vertical-align:right;
margin-right: 2%; 
margin-bottom: 50px;
}
.gif{
  position: fixed;
  bottom: 30px;
  right: 30px;
  max-width: 300%;

}
.searchbox {
  margin-left: 100px;
 }
 .searchsize{
  width: 550px; 
  height: 50px;
 }
.searchbox button {
    width: 40px;
    height: 55px;
  background: #cce6ff;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.searchbox button:hover {
  background: #0b7dda;
}

.searchbox::after {
  content: " ";
  clear: both;
  display: table;
}





/** this is for feedback form**/
.gif1{
  position: absolute;
  bottom:200px;
  right: 218px;
  max-width: 300%;

}
.container2{
  display: vertical-flex;
  line-height:60px;
  margin: 218px;
  max-width: 70%;
  padding: 37px;
  background-color: white;
  margin-top:0px;
}
/** this is for signup**/


/*this is for search*/
.container3 {
  display: vertical-flex;
  line-height: 50px;
  margin: 250px;
  max-width: 100%;
  padding: 26px;
  background-color: white;
  margin-top:150px;
}
.signuptrial .inputcontrol {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

.signuptrial input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Add styles to the form container */
.container1 {
  display: vertical-flex;
  line-height: 50px;
  margin: 250px;
  max-width: 100%;
  padding: 26px;
  background-color: white;
  margin-top:25px;
}

/* Full-width input fields */
.signuptrial .inputcontrol {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

.signuptrial input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit button*/ 
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  text-decoration: none;
}

.btn a {
  text-decoration: none;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.About-container {
  display: flex;
  background-color: #f1f1f1;
}

.About-container > div {
  flex:1.9;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  
}

/*this for faq page*/
.faqflex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #FFFFFF ;
  }

.faqflex-container > div {
  flex: 1.9;
  justify-content: space-between;
  background-color: #f1f1f1;
  max-width: 10000px;
  text-align: left;
  margin: 40px;
  font-size: 30px;
}
.faqheader h1{
  font-family: "Times New Roman";
  font: bold;
  color:#FFFFFF;
  text-align: center;
}
.contheading h4{
  text-align: center;
   font-family: "Times New Roman";
}
table, th, td {
    border: 1px solid black;
}

 /*FOR DASHBOARD*/

.flex-containerdash{
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
   padding-right: 40px;

}

.flex-containerdash > div{
  background-color: white;
  width: 400px;
  margin: 50px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}
.dashflex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #FFFFFF ;
  }

.dashflex-container > div {
  flex: 1.9;
  justify-content: space-between;
  background-color: #f1f1f1;
  max-width: 10000px;
  text-align: left;
  margin: 40px;
  font-size: 30px;

}
.abc{
  text-decoration: none;
  color: #b30000;
}

}
.inputupdate{
   width: 40%;
  height:5%;
  border: 1px;
  border-radius: 05px;
  padding: 8px 15px 8px 15px;
  margin: 10px 0px 15px 0px;
  box-shadow: 1px 1px 2px 1px grey;
}
/** this is for hoverable dropdown*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



/*blood facts*/

.gif2{
 position: absolute;
  bottom:200px;
  right: 218px;
  max-width: 300%;
}